# Built application files
*.apk
*.ap_

# Files for the Dalvik VM
*.dex

# Java class and jar files
*.jar
*.class

# Gradle files
.gradle
AmuseApp/local.properties
AmuseApp/app/app.iml
AmuseApp/.idea/*
AmuseApp/build
AmuseApp/app/build/
AmuseApp/build/
AmuseApp/gradle*

# Mac OS
*.DS_Store

# Editor files
*~