<?xml version="1.0" encoding="utf-8"?>
<!-- installLocation indicates if the app can be installed in the external devica -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amusebouche.activities"
    android:installLocation="preferExternal" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="23"/>
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.amusebouche.activities.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amusebouche.activities.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.amusebouche.activities.DetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.amusebouche.activities.MainActivity"
            android:theme="@style/NoActionBar">
        </activity>
        <activity
            android:name="com.amusebouche.activities.EditionActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.amusebouche.activities.MediaActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.amusebouche.activities.DetailActivity" >
        </activity>
    </application>

</manifest>
